.wrapper {
  margin-bottom: 20px;
}

.input {
  width: 300px;
  height: 52px;
  border-radius: 5px;
  border: 1px solid #ff63426e;
  padding-left: 20px;
  font-size: 16px;
}

.input::placeholder {
  color: #aaaaaa;
}

.input:focus {
  outline-color: #ff6342;
}
.error {
  text-align: left;
  margin: 2px 0 0 4px;
  font-size: 14px;
  color: rgb(212, 60, 51);
}